<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="UTF-8">
	    <title>Gestione degli Artisti</title>
	  	<link rel="shortcut icon" href="/images/icona.svg" type="image/svg">
	  	<link rel="stylesheet" href="/css/stile.css" />
	  	
	    <link rel="stylesheet" 
			th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
</head>
<body style="background-color: #471717;">
	
	<header th:replace="/fragments/base.html::intestazione"></header>
	<div class="wrapper">
		<div class="content" style="margin-top:10%;">
	    	<div class="container-entity">
				<div th:if="${artists.isEmpty()}">Non ci sono Artisti presenti nel database</div>
					<div th:if="${!artists.isEmpty()}">
							<ul>
								<li th:each="artist : ${artists}">								
									<span  class="entity">
										<img th:src="@{/image/artist/{id}(id=${artist.id})}"/>
										<H2><a th:href="@{'/admin' + '/formUpdateArtist/' +${artist.id}}"  th:text="${artist.name} +' '+ ${artist.surname}"></a></H2>
										<a th:href="@{'/admin' + '/deleteArtist/' +${artist.id}}"><img src="/images/trash.png"/></a>
									</span>
								</li>
						   </ul>
					</div>
				</div>
			</div>
	</div>
	 <footer th:replace="/fragments/base.html::footer"></footer>
	 
  </body>
</html>