<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="UTF-8">
	 	<title>SiwMovie 2 La vendetta</title>
	 	<link rel="shortcut icon" href="/images/icona.svg" type="image/svg">
	 	<link rel="stylesheet" href="/css/stile.css" />
	  	
		<link rel="stylesheet" 
			th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
 		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    	<style>
			body {
				margin: 0;
				padding: 0;
				font-family: Arial, sans-serif;
				background-color: #471717;
			}
			
			.hidden {
			    display: none;
			}
			
			.skip-button {
				position: absolute;
				top: 10px;
				right: 10px;
				padding: 10px;
				background-color: #fff;
				border-radius: 5px;
				cursor: pointer;
			}
		</style>
		<script>
		    document.addEventListener('DOMContentLoaded', function() {
		        var videoElement = document.getElementById('fullscreen-video');
		        var contentElement = document.getElementById('content');
		        var skipButton = document.getElementById('skip-button');
		
		        videoElement.addEventListener('ended', function() {
		            videoElement.style.display = 'none'; // Nasconde il video
		            contentElement.classList.remove('hidden'); // Mostra il resto della pagina
		            skipButton.style.display = 'none'; // Nasconde il pulsante "Skip"
		        });
		
		        skipButton.addEventListener('click', function() {
		            videoElement.style.display = 'none'; // Nasconde il video
		            contentElement.classList.remove('hidden'); // Mostra il resto della pagina
		            skipButton.style.display = 'none'; // Nasconde il pulsante "Skip"
		        });
		
		        var currentUrl = window.location.href;
		        if (!currentUrl.includes('/images/movieIntro.mp4')) {
		            contentElement.classList.add('hidden'); // Nasconde il resto della pagina inizialmente se l'URL non corrisponde al video
		        }
		    });
		</script>
	</head>
	<body>
	<video id="fullscreen-video" src="/images/movieIntro.mp4" muted autoplay></video>
	<div id="content" class="hidden">
	    <!-- Il tuo contenuto della pagina qui -->
	    <header th:replace="/fragments/base.html::intestazione"></header>
	<div class="wrapper">
	     <img src="/images/sfondoHome.jpg" style="height: 90%;"/>
	</div>
		<H1 style="margin-left:5%;">LEGGI TUTTE LE INFORMAZIONI SUI NOSTRI FILM E VAI A VEDERLI!</H1>
		<p style="margin-left: 43%;">I migliori cinema di Roma:</p>
		
		<span  class="entity" style="width:20%; margin-left:40%;">
			<div >
				<a href="https://www.ucicinemas.it/cinema/lazio/roma/uci-luxe-maximo/"><img src="/images/uci.png"/> Uci-Cinema MAXIMO ROMA</a>
			</div>
		</span>
		<span>
			<div class="entity" style="width:20%; margin-left:40%;">
				<a href="https://www.thespacecinema.it/al-cinema/roma-moderno"><img src="/images/theSpace.png"/> THE SPACE - Moderno</a>
			</div>
		</span>
		
      <footer th:replace="/fragments/base.html::footer"></footer>
	</div>
	
	<button id="skip-button" class="skip-button">Skip</button>
	
	</body>
</html>